/* Base styles for all devices */


.slide-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.img {
    max-width: 100%;
    overflow: hidden;
    transition: transform 0.5s ease;
}

.img img {
    width: 100%;
    height: auto;
}

/* Mobile and smaller devices */
@media (max-width: 767px) {
    .slide-img {
        height: auto;
    }
}

/* Animation for images on hover */
.img:hover {
    transform: translateX(20px);
}

.contant {
    margin-top: 40px;
    padding: 12px;
}

/* Custom CSS for carousel animation */
#imageCarousel.carousel {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

#imageCarousel.carousel:hover {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
}


/* Custom CSS for image padding and carousel animation */
.body-img .row>div {
    padding: 10px;
    /* Add padding to all images */
}

.carousel-inner img {
    animation: carouselAnimation 6s infinite;
    /* Adjust animation duration as needed */
}

@keyframes carouselAnimation {

    0%,
    100% {
        opacity: 0;
    }

    20%,
    80% {
        opacity: 1;
    }
}



/* Custom CSS for video container and content */
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 aspect ratio for responsive video */
    overflow: hidden;
    margin-bottom: 20px;
    /* Add margin between video and content */
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    margin-top: 40px;
}

.contant {
    padding: 20px;
    /* Add padding to the content */
    background-color: none;
}

/* Responsive design for the content */
@media (max-width: 767px) {
    .contant {
        margin-top: 20px;
        /* Add margin to the top of content on smaller screens */
    }
}

/* Custom CSS for video block */
video {
    max-width: 100%;
    /* Make sure the video doesn't exceed its container */
    height: auto;
    /* Maintain aspect ratio */
    display: block;
    /* Remove extra space below the video */
    margin: 0 auto;
    /* Center the video horizontally */

    border-radius: 12px;
}


/* Custom CSS for hover animation */
.body-img .row>div img {
    transition: transform 0.3s ease;
}

.body-img .row>div:hover img {
    transform: scale(1.1);
    /* Adjust the scale factor as needed */
}

.container {
    margin-top: 12px;
}

.body-img .row>div img {
    border-radius: 12px;
}